# ---------------------------------------------
# TEMPLATE LINGKUNGAN PENGEMBANGAN TERNAKAJA
# ---------------------------------------------

# [1] Supabase Connection
# Diisi dengan URL Endpoint dari Database (baik itu Supabase Local Docker atau Live Cloud)
NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321

# Kunci anonim (diperbolehkan dibaca oleh browser) untuk Supabase Auth/Access
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your_supabase_anon_key_here

# [2] Next.js Node Environment (Sistem)
# environment default Next.js (development / production)
# NODE_ENV=development

# [3] Routing / Vercel Domain
# Berguna untuk Callbacks Redirect jika berada di live vercel atau local
NEXT_PUBLIC_APP_URL=http://localhost:3000